{% extends 'base.html.twig' %}

{% block title %}Inscription{{parent()}}{% endblock %}

{% block body %}
    <section class="container">
        <div class="top-bar">
        </div>
        <div class="center-block">
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            <h1>Inscrivez-vous</h1>
            <div class="register-form">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
        <div class="bottom-bar">
        </div>
    <section>
{% endblock %}
