{% extends 'base.html.twig' %}

{% block title %}Liste des ressources{{ parent() }}{% endblock %}

{% block body %}
    <section class="container">
        <div class="top-bar">
            <div class="top-brand-name">
                <div class="wizi-white">Wizi</div>
                <div class="cost-white">Cost</div>
            </div>
        </div>
        <div class="center-block-ressource-list">
            <h1>Liste des ressources</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Libellé</th>
                        <th>Valeur</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for resource in resources %}
                    <tr>
                        <td>{{ resource.name }}</td>
                        <td>{{ resource.value }}</td>
                        <td>
                            <a href="{{ path('resource_show', {'id': resource.id}) }}">Voir</a>
                            <a href="{{ path('resource_edit', {'id': resource.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Pas de résultat trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="bottom-links">
                <a href="{{ path('resource_new') }}"><button class="btn">Nouvelle ressource</button></a>
                <a href="/"><button class="btn">Retour à l'accueil</button></a>
            </div>
        </div>
        <div class="bottom-bar">
        </div>
    <section>
{% endblock %}
